doctype html
html
   head
      title index page
      link(href='css/normalize.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic-ext,cyrillic', rel='stylesheet')
      link(href='css/style.css', rel='stylesheet')
   body 
      header
         .container
            .col-1
               ul.links
                  li 8-800-100-93-21
                  li 
                     a(href="#") mail@certa.ru
            .col-2
               a.btn(href="#") Перезвоните мне!
            .col-3
               .cart 0 товаров
      section#content
         .container
            .logo
               a(href="#")
                  img(src="img/logo.png", alt="")
            nav
               a(href="#") Декорируй
               a(href="#") Пробуй
               a(href="#") Твори
            h1.title Краски для жизни! 
            .product
               .item
                  a(href="#")
                     img(src="img/Layer-4.png", alt="")
                     .product-name Siana Graffiti
                     img(src="img/down.png", alt="")
               .item
                  a(href="#")
                     img(src="img/baloon.png", alt="")
                     .product-name Siana Decotative Enamel
                     img(src="img/down.png", alt="")
      seaction#buy-now
         .container
            a(href="#") Где купить


      footer#footer
         .container
            .col-1
               ul.links
                  li 8-800-100-93-21
                  li 
                     a(href="#") mail@certa.ru
            .col-2
               a.btn(href="#") Перезвоните мне!
            .col-3
               Производство - 
               a(href="#")НПП Спектр

